@import "../config/variables";

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background: $value;
    border-color: $value;
    box-shadow: 0px 2px 6px 0px rgba($value, 0.5);

    &:hover {
      background: lighten($value, 0.1);
      border-color: lighten($value, 0.1);
    }
  }
}

.btn-rounded {
  border-radius: 2em;
}

.badge {
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .6px;
  color: #fff;
  background-color: rgba(0,0,0,.2);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
}
