@import "../../assets/config/variables";

.home-page {
  min-height: 100%;
  display: flex;
  background: $background;
  flex-direction: column;
}

.search-results {
  min-height: calc(100vh - 70px);
  background: $secondaryBackground;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.track-oval-image {
  border-radius: 50%;
}
