@import "src/assets/config/variables";

.navbar {
  padding: 0;
  margin: 0;
  min-height: 70px;

  .search-icon {
    font-size: 30px;
  }
}

.app-search {
  overflow: hidden;

  .form-control {
    border: none;
    height: 38px;
    padding-left: 40px;
    padding-right: 20px;
    box-shadow: none;
    border-radius: 20px !important;
    min-width: 340px;
  }

  .search-icon {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    line-height: 38px;
    left: 10px;
    color: $gray-900;
  }
}
