@import "../../assets/config/variables";

.album-page {
  min-height: 100%;
  display: flex;
  background: $background;
  flex-direction: column;
}

.album-avatar {
  min-width: 250px;
  border-radius: 50%;
}
